@charset 'utf-8';
@import '../util.scss';

#header {
    background-color: #22181c;
    height: 50px;

    ul {
        height: 100%;

        li {
            height: 100%;
            font-size: 13px;
            font-weight: 600;

            a {
                height: 100%;
                color: #ffffff;
                padding-top: 11px;
            }
            a.active, a:hover {
                background-color: #37272d;
            }
        }
    }


}