@charset 'utf-8';

#header {
    background-color: #22181c;
    height: 50px;

    ul {
        height: 100%;

        li {
            height: 100%;

            a {
                height: 100%;
                color: #ffffff;
            }
            a.active, a:hover {
                background-color: #37272d;
            }
        }
    }


}