<div id="header">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">SOBRE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experience">EXPERIÊNCIAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#portfolio">PORTIFÓLIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">CONTATO</a>
    </li>
  </ul>
</div>
