<div id="footer">
    <div class="div-center">
        <div id="icons">
            <a target="blank" href="https://www.facebook.com/giovana.silveiracardoso">
                <img src="assets/icons/facebook-logo-button.png" alt="Ícone Facebook">
            </a>
            <a target="blank" href="https://www.linkedin.com/in/giovana-cardoso-berti-02612653">
                <img src="assets/icons/linkedin-logo.png" alt="Ícone Linkedin">
            </a>
            <a target="blank" href="https://www.instagram.com/giovanacardosoberti/">
                <img src="assets/icons/instagram-logo.png" alt="Ícone Instagram">
            </a>
        </div>
        <span>CRIADO POR
            <a target="blank" href="https://www.linkedin.com/in/alexandra-junges/">ALEXANDRA</a> E
            <a target="blank" href="https://www.linkedin.com/in/giovana-cardoso-berti-02612653">GIOVANA</a>
        </span>
    </div>
</div>