<div id="footer">
    <div class="div-center">
      <div id="icons">
          <img src="assets/icons/twitter.png" alt="Random first slide">
          <img src="assets/icons/pinterest-circular-logo-symbol.png" alt="Random first slide">
          <img src="assets/icons/icon.png" alt="Random first slide">
          <img src="assets/icons/facebook-logo-button.png" alt="Random first slide">
          <img src="assets/icons/linkedin-logo.png" alt="Random first slide">
          <img src="assets/icons/instagram-logo.png" alt="Random first slide">
      </div>
      <span>CRIADO POR ALEXANDRA E GIOVANA</span>
    </div>
</div>
