<div id="about">
  <div class="div-center">
    <div class="textAboutMe">
      <h2>SOBRE MIM</h2>
      <p>Giovana Cardoso Berti, Desenvolvedora de Sistemas. Nasceu em Tubarão, Santa Catarina, em 1993 e se formou no curso técnico de Informática para Internet no ano de 2013 pelo Serviço Nacional de Aprendizagem Industrial e é graduanda do curso de Sistemas de Informação na Faculdade Energia de Administração e Negócios desde 2015.
        <br>
        <br>
        Inglês Intermediário.
        <br>
        <br>Conhecimento em: Linguagens(Java, Python, PHP, Javascript), Frameworks(JSF, JSP, Struts, AngularJs, Flask, Django), Containers Web(Jboss, Tomcat, Apache), Banco De dados(Oracle, PostgreSql, MySql), HTML, CSS e entre outros.
      </p>
    </div>
    <div class="skills">
      <h2>HABILIDADES</h2>
      <div id="skills-stars">
        <ul>
          <li id="li-sem-conteudo"></li>
          <li>JAVA</li>
          <li>PYTHON</li>
          <li>PHP</li>
          <li>JAVASCRIPT</li>
          <li>JSF</li>
          <li>JSP</li>
          <li>STRUTS</li>
          <li>FLASK</li>
          <li>DJANGO</li>
          <li>ANGULARJS</li>
          <li>TYPESCRIPT</li>
        </ul>
        <ul>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
