#about {
    background-color: #22181c;
    padding-bottom: 10vh;

    .div-center {
        margin: auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h2,
        p,
        ul {
            color: #ffffff;
        }
        ul li {
            list-style: none;
        }
        .skills,
        .textAboutMe {
            padding-top: 10vh;
            width: 65vh;
        }
        #skills-stars {
            display: flex;
            ul:first-child {
                padding-left: 0;
            }
            ul {
                li {
                    img {
                        width: 20px;
                        height: 18px;
                    }
                }
            }
        }
    }
}


