<div id="about">
  <div class="div-center">
    <div class="textAboutMe">
      <h2>SOBRE MIM</h2>
      <p>DESENVOLVEDORA WEB, TÉCNICA EM INFORMÁTICA PARA INTERNET. CURSANDO SISTEMAS DE INFORMAÇÃO NO ENERGIA(FEAN).
        <br>INGLÊS INTERMEDIÁRIO.
        <br>
        <br>CONHECIMENTO EM: LINGUAGENS(JAVA, PYTHON, PHP, JAVASCRIPT), FRAMEWORKS(JSF, JSP, STRUTS, ANGULARJS, FLASK, DJANGO),
        CONTAINERS WEB(JBOSS, TOMCAT, APACHE), BANCO DE DADOS(ORACLE, POSTGRESQL, MYSQL), HTML, CSS E ENTRE OUTROS.
      </p>
    </div>
    <div class="skills">
      <h2>HABILIDADES</h2>
      <div id="skills-stars">
        <ul>
          <li>JAVA</li>
          <li>PYTHON</li>
          <li>PHP</li>
          <li>JAVASCRIPT</li>
          <li>JSF</li>
          <li>JSP</li>
          <li>STRUTS</li>
          <li>FLASK</li>
          <li>DJANGO</li>
          <li>ANGULARJS</li>
          <li>TYPESCRIPT</li>
        </ul>
        <ul>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>