<div id="about">
  <div class="div-center">
    <div class="textAboutMe">
      <h2>SOBRE MIM</h2>
      <p>LOREM IPSUM É SIMPLESMENTE UMA SIMULAÇÃO DE TEXTO DA INDÚSTRIA TIPOGRÁFICA E DE IMPRESSOS, E VEM SENDO UTILIZADO DESDE O SÉCULO XVI, QUANDO UM IMPRESSOR DESCONHECIDO PEGOU UMA BANDEJA DE TIPOS E OS EMBARALHOU PARA FAZER UM LIVRO DE MODELOS DE TIPOS.</p>
    </div>
    <div class="skills">
      <h2>HABILIDADES</h2>
      <div id="skills-stars">
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>ANGULAR</li>
          <li>TYPESCRIPT</li>
          <li>PYTHON</li>
        </ul>
        <ul>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png">
          </li>
          <li><img src="assets/icons/estrela.png"></li>
          <li><img src="assets/icons/estrela.png"></li>
          <li><img src="assets/icons/estrela.png"></li>
          <li>
            <img src="assets/icons/estrela.png">
            <img src="assets/icons/estrela.png"></li>
        </ul>     
      </div>
    </div>
  </div>
</div>