<div id="contact">
  <div class="div-center">
    <div id="contact-maps">
      <h2>CONTATO</h2>
      <p>
        <span class="email">
          <img src="assets/icons/email-filled-closed-envelope.png">
        </span>
        <a href="mailto:giovanasilveiracardoso@gmail.com">giovanasilveiracardoso@gmail.com</a>
      </p>
    </div>
    <div id="form-message">
      <!--<h2>DEIXE SUA MENSAGEM</h2>
      <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="NOME" size="40">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-MAIL" size="40">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="SUA MENSAGEM"></textarea>
          </div>
          <button type="button" class="btn btn-default btn-lg">ENVIAR</button>
      </form>-->
    </div>
  </div>
</div>