<div id="portfolio">
  <div class="div-center">
    <h2>Portfólio</h2>

    <ngb-carousel id="carousel-portfolio">
      <ng-template ngbSlide>
        <img src="assets/img/site-fotografo.png" alt="Random first slide">
        <div class="carousel-caption">
          <h3>Site para Diogo Ribeiro Produções</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/site-revendedor-autonomo.png" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Site e Sistema para revendedora autônoma</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>