<div id="portfolio">
  <div class="div-center">
    <h2>Portfólio</h2>
      <ul>
        <li>
          <a href="http://diogoribeiro.medianewsonline.com" target="blank"><img src="assets/img/site-fotografo.png" alt="Mostra o site do fotógrafo"></a>
          <div>
            <h3><a href="http://diogoribeiro.medianewsonline.com" target="blank">Site para Diogo Ribeiro Produções</a></h3>
          </div>
        </li>
        <li>
          <a href="http://lizete.esy.es" target="blank"><img src="assets/img/site-revendedor-autonomo.png" alt="Mostra o site de uma revendedora autônoma"></a>
          <div>
            <h3><a href="http://lizete.esy.es" target="blank">Site e Sistema para revendedora autônoma</a></h3>
          </div>
        </li>
      </ul>
  </div>
</div>