.backgroundCoding {
    background-image: url('../../assets/img/coding.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    #photoDeveloper {
        height: 80vh;
        img {
            height: 80vh;
        }
    }
    #nameDeveloper {
        background-color: #000000;
        opacity: 0.5;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: #ffffff;
            text-align: center;
            margin: 0;
        }
    }
}
