@charset 'utf-8';

.backgroundCoding {
  background-image: url('../../assets/img/coding.jpg');
  background-size: cover;
  background-position: center;
  height: 93vh;

  #photoDeveloper {
    height: 80vh;
    
    img {
      height: 70vh;
    }
  }

  #nameDeveloper {
    background-color: #000000;
    opacity: 0.5;
    height: 15vh;

    h1 {
      color: #ffffff;
      text-align: center;
    }
  }
}